@model DashboardVM

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Staff-Layout";
}

<div class="wrapper">
    <div class="d-flex justify-content-between align-items-center heading-line">
        <h1>Dashboard</h1>
    </div>
    <div class="dashboard-layout">
        <div class="left-section">
            <div class="insights">
                <div class="requested">
                    <span><i class="bi bi-clipboard-data-fill"></i></span>
                    <div class="middle">
                        <div class="left">
                            <h6>Total Workorder</h6>
                            <h4>Requested</h4>
                        </div>
                        <div class="right-workorder">
                            <h1>@Model.requestedWorkOrders</h1>
                        </div>
                    </div>
                </div>
                <div class="in-progress">
                    <span><i class="bi bi-caret-right-fill"></i></span>
                    <div class="middle">
                        <div class="left">
                            <h6>Total Workorder</h6>
                            <h4>In Progress</h4>
                        </div>
                        <div class="right-workorder">
                            <h1>@Model.inProgressWorkOrders</h1>
                        </div>
                    </div>
                </div>
                <div class="completed">
                    <span><i class="bi bi-check-lg"></i></span>
                    <div class="middle">
                        <div class="left">
                            <h6>Total Workorder</h6>
                            <h4>Complete</h4>
                        </div>
                        <div class="right-workorder">
                            <h1>@Model.completeWorkOrders</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!---- Recent Workorders ----->
            <div class="recent-workorders">
            <h2> Recent Work Orders</h2>
    
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Created At
                        </th>
                        <th>
                            Request
                        </th>
                        <th>
                            Building
                        </th>
                        <th>
                            Progress
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.workOrders)
                    {
                        <tr>
                            <td data-cell="name">
                                @Html.DisplayFor(modelItem => item.RequesterFirstName)  @Html.DisplayFor(modelItem => item.RequesterLastName)
                            </td>
                            <td data-created="@item.CreatedAt">
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td data-cell="request">
                                @Html.DisplayFor(modelItem => item.Request)
                            </td>
                            <td data-cell="building">
                                @Html.DisplayFor(modelItem => item.Building)
                            </td>
                            <td data-cell="progress">
                                @Html.DisplayFor(modelItem => item.Progress)
                            </td>              
                        </tr>
                    }
                </tbody>
            </table>
            <div class="mt-2"></div>
            <a href="/WorkOrders/Index">View all work orders</a>
        </div>
        </div>

        <div class="right-section">
            <div class="recent-updates">
                <h2>Recent Updates</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-icon">

                        </div>
                        <div class="message">
                            <p><b>Mike Tyson</b> received his order of Night lion tech GPS drone.</p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                    <div class="update">
                        <div class="profile-icon">
                        </div>
                        <div class="message">
                            <p><b>Mike Tyson</b> received his order of Night lion tech GPS drone.</p>
                            <small class="text-muted">2 Minutes Ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dashboard-layout {
        display: grid;
        width: 100%;
        grid-template-columns: 3fr 1fr; /* Left section takes 75%, right section 25% */
        gap: 2rem; /* Space between columns */
        margin-top: 2rem;
    }

    .left-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .insights{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
    }

    .insights > div {
        background: white;
        padding: 2rem;
        border-radius: 5%;
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
    }

    .insights > div:hover{
        box-shadow: none;
        transition: all 300ms ease;
    }

    .insights > div span {
        background: var(--yellow-primary);
        padding: 0.5rem;
        border-radius: 50%;
        color: black;
    }

    .insights > div .middle{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .insights .left{

    }
    .insights .right-workorder{
        width: 92px;
        height: 92px;
        transform: translate(30px, 15px);
    }

    .insihgts .right-workorder h1{
        font-size: 30px;
    }

    .recent-workorders{
        margin-top: 2rem;
    }

    .recent-workorders table {
        width: 100%;
        padding: 2rem;
        text-align: center;
        box-shadow: var(--box-shadow);
        border-radius: 10px;
    }

    .recent-workorders table tbody td{
        height: 2.8rem;
        border-bottom: 1px solid #f2f2f2;
        color: grey;
    }

    .recent-workorders td:last-child{
        border-bottom: none;
    }

    .recent-workorders th, td {
        padding: 10px;

    }

    .recent-workorders th{
        background-color: var(--yellow-primary);
    }

    .recent-workorders td {
        background-color: white;
    }

    .recent-workorders tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }

    .recent-workorders tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    .recent-workorders tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    .recent-workorders tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }

    .right-section {
        margin-top: 1rem;
    }

    .recent-updates h2{
        margin-bottom: 0.8rem  }

    .recent-updates .profile-icon {
        width: 30px;
        height: 30px;
        background: var(--yellow-primary);
        border-radius: 50%;
    }

    .recent-updates .updates{
        background: white;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
    }

    .recent-updates .updates .update{
        display: grid;
        grid-template-columns: 2.6rem auto;
        column-gap: 0.5rem;
        margin-bottom: 1rem;
    }
</style>