@model WorkOrder

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Work Order Details</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">Order ID:</div>
                        <div class="col-md-8">@Model.Id</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">Description:</div>
                        <div class="col-md-8">@Model.Request</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">Created By:</div>
                        <div class="col-md-8">@Model.RequesterFirstName @Model.RequesterLastName</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">Created At:</div>
                        <div class="col-md-8">@Model.CreatedAt</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">Assigned To:</div>
                        <div class="col-md-8">@Model.WorkOrderAssignee</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 text-muted">Progress:</div>
                        <div class="col-md-8">
                            <span class="badge">
                                @Model.Progress
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-muted">Notes:</div>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="4" readonly>@Model.Note</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
